@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.vsa_short {
    height: 220px;
    width: 600px;
    margin-top: 140px;
    margin-left: 80px;
}

.home {
    background-image: url("https://res.cloudinary.com/dsw1a6wwx/image/upload/v1688377308/Bg_map_skwoox.jpg");
    background-size: cover;
    height: 100vh;
}


.experience_icon {
    height: 35px;
    width: 35px;
    padding: 5px;
    margin-left: 5px;
}



#apps {
    color: grey;
    font-family: "poppins", Sans-Serif;
    font-size: 16px;
    font-weight: 400;
}

#navWayuparty {
    font-size: 12px;
    color: #d9a30f;
    font-family: "poppins", Sans-Serif;
    font-weight: 400;
}


body {
    margin: 0px;
}

.block {
    display: none;
}

.nav_image {
    height: 40px;
    width: 90px;
    margin-left: 50px;
}

#navHome {
    color: grey;
    font-size: 16px;
    font-family: "poppins", Sans-Serif;
    font-weight: 400;
}

#navAboutUs {
    color: grey;
    font-size: 16px;
    font-family: "poppins", Sans-Serif;
    font-weight: 400;
}

#navAbout {
    color: grey;
    font-family: "poppins", Sans-Serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 30px;
}

#navFeatures {
    color: grey;
    font-family: "poppins", Sans-Serif;
    font-size: 16px;
    font-weight: 400;
}

#navCareers {
    color: grey;
    font-family: "poppins", Sans-Serif;
    font-size: 16px;
    font-weight: 400;
}


.product_blue_container {
    background-image: url("https://res.cloudinary.com/dsw1a6wwx/image/upload/v1690642814/custom-banner_sav6qg.png");
    background-size: cover;
    height: 40vh;
    margin-top: 70px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

@media (max-width:768px) {
    .product_blue_container {
        margin-top: 50px;
        height: 70vh;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .product_image {
        height: 30px;
        width: 30px;
    }

    .product_heading {
        font-weight: bold;
        color: white;
        font-size: 2px;
        margin-top: 0px;
        margin-left: 20px;
        font-family: "poppins", Sans-Serif;
    }

    .product_para {
        font-family: "poppins", Sans-Serif;
        color: white;
        font-size: 2px;
        margin-left: 20px;
    }

}

.product_image {
    height: 150px;
    width: 175px;
    margin-top: 50px;

}

.product_heading {
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 90px;
    font-family: "poppins", Sans-Serif;
}

.product_para {
    font-family: "poppins", Sans-Serif;
    color: white;
    font-size: 20px;
    margin-left: 40px;
}

.vertical_blue_small {
    background-color: #d9a30f;
    height: 70px;
    width: 19px;
    border-radius: 10px;
    margin-right: 16px;
}

@media(max-width:768px) {
    .video_below_container {
        margin-left: 0px;
        margin-top: 40px;
    }

    .product_wayu_two_line_para {
        margin-left: 0px;
        margin-top: 10px;
    }



}

.video_below_container {
    margin-left: 50px;
    margin-top: 40px;
    text-align: center;
}

.product_wayu_heading {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    font-family: "poppins", Sans-Serif;
}

.product_wayu_two_line_para {
    margin-left: 90px;
    font-size: 14px;
    font-family: "poppins", Sans-Serif;
}

@media(max-width:768px) {

    .product_wayu_two_line_para {
        margin-left: 25px;
        margin-top: 10px;
    }

    .product_cards_container {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        margin-top: 60px;
        justify-content: flex-start;
    }

    .video_below_container {
        margin-left: 40px;
        margin-top: 40px;
    }

    .product_first_card {
        background-color: white;
        width: 100%;
        height: 100px;
        border-radius: 15px;
        border-style: solid;
        border-width: 5px;
        border-color: #e5eaf4;
        padding: 18px;
        margin-bottom: 20px;

    }

}

.product_first_card {
    background-color: white;
    width: 350px;
    height: 290px;
    margin-right: 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #d9a30f;
    padding: 18px;
    margin-left: 20px;
}

.product_cards_container {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.discover_heading {
    font-size: 20px;
    font-weight: 600;
    font-family: "poppins", Sans-Serif;
}


.discover_para {
    font-size: 14px;
    color: black;
    font-family: "poppins", Sans-Serif;
}


.product_wayu_last_para {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 14px;
    font-family: "poppins", Sans-Serif;
}

.product_below_heading {
    margin-left: 50px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: "poppins", Sans-Serif;
}


.drop_button {
    margin-top: 12px;
    margin-right: 10px;
}

.individual_box {
    width: 40%;
    margin: 20px;
}

.career_individual_box {
    width: 60%;
    margin: 20px;
    margin-left: 80px;
}

.first_two_boxes {
    display: flex;
    justify-content: center;
}

@media(max-width:768px) {
    .first_two_boxes {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .individual_box {
        width: 96%;
        margin: 20px;
    }


}

@media(max-width:768px) {
    .explore_heading_container {
        margin-top: 30px;
        margin-left: 0px;
    }

    .main_icons_container {
        margin-top: 50px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .explore_icon_card {
        background-color: white;
        width: 100px;
        height: 50px;
        margin-right: 0px;
        border-radius: 20px;
        border-style: solid;
        border-width: 5px;
        border-color: #e5eaf4;
        padding: 18px;
        margin-bottom: 20px;
        display: flex;
    }

    .explore_heading {
        font-weight: 600;
        font-family: "poppins", Sans-Serif;
        font-size: 26px;
    }

    .explore_heading {
        font-weight: 600;
        font-family: "poppins", Sans-Serif;
        font-size: 14px;
    }

    .icon_para {
        font-size: 8px;
        margin-left: 0px;
    }

}



.explore_heading {
    font-weight: 600;
    font-size: 30px;
    color: grey;
    margin-top: 30px;
    font-family: "poppins", Sans-Serif;
}

.career_explore_logo {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}


.copyrights_part {
    display: flex;
    flex-direction: row;
    background-color: #bebebe;
    margin-top: 80px;
    justify-content: space-around;
    padding-top: 20px;
}

.copyrights_paragraph {
    color: black;
    font-family: "poppins", Sans-Serif;
    font-size: 14px;
    font-weight: 400;
}

.ending_para {
    color: black;
    font-family: "poppins", Sans-Serif;
    font-size: 14px;
    font-weight: 400;
}


.home-logo-video-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.video-container {
    position: relative;
    width: 350px;
    height: 240px;
    overflow: hidden;
    margin-top: 20px;
    border: 2px skyblue solid;
    border-radius: 15px;
    align-self: center;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.video-buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 500px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

@media (max-width:768px) {
    .image {
        height: 100px;
        width: 100px;
    }

    .start_letters {

        font-size: 40px;

    }

    .solution_heading {

        font-size: 20px;
    }

    .home-logo-video-container {
        display: flex;
        flex-direction: column;
    }

    video {
        width: 80%;
        height: auto;
        margin-left: 5px;
    }

}

.mail {
    font-family: "poppins", Sans-Serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

@media(max-width:768px) {
    .mail {
        font-family: "poppins", Sans-Serif;
        font-size: 8px;
        margin-left: 10px;
    }

    .ending_para {
        color: black;
        font-family: "poppins", Sans-Serif;
        font-size: 8px;
        margin-left: 10px;
    }

    .copyrights_paragraph {
        color: black;
        font-family: "poppins", Sans-Serif;
        font-size: 8px;
    }
}



.career_core_heading {
    color: #4287f5;
    text-align: center;
    margin-top: 30px;
    font-family: "poppins", Sans-Serif;
    font-size: 30px;
}

.career_core_para {
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: "poppins", Sans-Serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.career_being_head {
    color: #4287f5;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.career_being_para {
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: "poppins", Sans-Serif;
    margin-left: 50px;
}

.line_height {
    height: 20px;
    border-width: 4px;
    color: black;
    margin-top: 30px;
}

.error-message {
    color: #dc3545;
    font-family: "poppins", Sans-Serif;
    font-size: 14px;
}

.apply_name {
    font-weight: bold;
    margin-left: 5px;
    font-size: 16px;
    color: black;
    font-family: "poppins", Sans-Serif;
}


body {
    margin: 0;
}

video {
    width: 75%;
    height: auto;
    margin-left: 50px;
    margin-top: 130px;
    border-color: #d9a30f;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    margin-right: 90px;
}


body {
    margin: 0;
}


.totally_margin {
    margin-top: 50px;
}

.button_color {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    margin-bottom: 20px;
}

.career_job_portion {
    margin-top: 15px;
    margin-left: 100px;
}

.recent_jobs {
    color: #4287f5;
    font-size: 30px;
    font-weight: 600;
    font-family: "poppins", Sans-Serif;
}

@media(max-width:768px) {
    .procut_designer_heading {
        font-size: 2px;
        font-weight: bold;
        font-family: "poppins", Sans-Serif;
        color: black;
    }
}

.procut_designer_heading {
    font-size: 14px;
    font-weight: bold;
    font-family: "poppins", Sans-Serif;
    color: black;
}

.procut_designer_job_heading {
    font-size: 16px;
    font-weight: bold;
    color: #4287f5;
    font-family: "poppins", Sans-Serif;

}

.job_procut_main_container {
    margin-left: 100px;
    margin-bottom: 20px;
    margin-right: 80px;
}

.procut_designer_para {
    font-size: 14px;
    font-family: "poppins", Sans-Serif;
    color: black;
}

.procut_designer_button {
    border-radius: 17px;
    padding: 5px;
    border-width: thin;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    margin-right: 20px;
}

.procut_apply_button {
    display: flex;
    justify-content: space-between;
}

.job_apply_button {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.apply_and_arrow {
    display: flex;
    margin-right: 30px;
}

.arrow_style {
    font-size: 20px;
    color: black;
}

.apply_button_styling {
    margin-top: 5px;
    margin-left: 7px;
}

.nav_font_sizes {
    font-size: 28px;
    font-family: "Roboto";
}


#navHome.clicked {
    color: #d9a30f;
}

#navCareers.clicked {
    color: #d9a30f;
}

#navAbout.clicked {
    color: #d9a30f;
}

#navAboutUs.clicked {
    color: #d9a30f;
}

#apps.clicked {
    color: #d9a30f;
}


.career_heading {
    font-family: "poppins", Sans-Serif;
    margin-top: 90px;
    margin-right: 10px;
    text-align: center;
    color: grey;
}

.career_para {
    font-family: "poppins", Sans-Serif;
    margin-right: 10px;
    text-align: center;
    color: grey;
    margin-bottom: 20px;
}


.career_bivio_letter {
    color: #4287f5;
    font-family: "poppins", Sans-Serif;
    font-weight: bold;
    margin-bottom: 40px;
}

@media(max-width:768px) {
    .career_heading {
        font-family: "poppins", Sans-Serif;
        margin-top: 90px;
        margin-right: 10px;
        text-align: center;
        color: grey;
        margin-bottom: 40px;
        font-size: 20px;
    }

    .career_para {
        font-family: "poppins", Sans-Serif;
        margin-right: 10px;
        text-align: center;
        color: grey;
        margin-bottom: 30px;
        font-size: 10px;
    }


    .career_bivio_letter {
        color: #4287f5;
        font-family: "poppins", Sans-Serif;
        font-weight: bold;
        margin-bottom: 40px;
        font-size: 20px;
    }

    .wayuparty_photo {
        background-image: url("https://res.cloudinary.com/dsw1a6wwx/image/upload/v1692092362/wayuparty1_notyqt.jpg");
        height: 60vh;
        margin-top: 50px;
        margin-left: 0px;
    }

}

.career_back_photo {
    background-image: url("https://res.cloudinary.com/dsw1a6wwx/image/upload/v1688539015/pngtree-photo-with-a-pen-glasses-notes-and-a-notebook-image_2514586_lm2hoz.png");
    background-size: cover;
    height: 50vh;
}

.wayuparty_photo {
    background-image: url("https://res.cloudinary.com/dsw1a6wwx/image/upload/v1692092362/wayuparty1_notyqt.jpg");
    height: 50vh;
    margin-top: 70px;
}

.wayuparty_button {
    width: 150px;
    height: 50px;
    background-color: #4287f5;
    margin-left: 190px;
    border-radius: 10px;
    color: white;
    border-width: 0px;
    font-size: 14px;
    font-family: "poppins", Sans-Serif;
    font-weight: bold;
}

.video_button_container {
    display: flex;
    flex-direction: column;
}

.vsa_video_main_container {
    display: flex;
    flex-direction: row;
}



@media(max-width: 768px) {
    .video_button_container {
        order: 1;
        text-align: center;
    }

    .vsa_video_main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vsa_short {
        height: 130px;
        width: 280px;
        order: 0;
    }

    .wayuparty_button {
        width: 100px;
        height: 50px;
        margin-left: 200px;
        background-color: #4287f5;
        border-radius: 10px;
        color: white;
        border-width: 0px;
    }
}


.box_editing {
    border-radius: 50px;
}


.about_us_main_image {
    height: 30vh;
    background-size: cover;
    width: 50vw;
    margin-right: 70px;
    border-top-left-radius: 30px;
}

.about_us_vsa_image {
    display: flex;
    height: 35vh;
    background-size: cover;
    width: 40vw;
    margin-top: 130px;
    margin-left: 40px;
}

.about_us_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;
}

.about_us_page_about_heading {
    color: #4287f5;
    font-size: 18px;
    font-weight: bold;
    font-family: "poppins", Sans-Serif;
}

.about_us_para_head_container {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 40px;
}

.about_us_page_about_para {
    margin-right: 70px;
    font-size: 14px;
    font-family: "poppins", Sans-Serif;
}

.wayuparty_below_video_image {
    height: 70px;
    width: 260px;
    margin-left: 170px;
}

.nine_images {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}
